@import "tailwindcss"
@source "./src"

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

.container-fluid {
    max-width: auto;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.content {
    @apply bg-red-500
}
